{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="Form">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<img src="" class="img-fluid" alt="">
				</div>
				<div class="col-lg-7">
					<form action="">
						<div class="form-row">
							<div class="col-lg-7">
								<input type="text" placeholder="Username" class="form-control">
							</div>
						</div>
						<div class="form-row">
							<div class="col-lg-7">
								<input type="password" placeholder="********" class="form-control">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
