{% extends 'base.html.twig' %}
{% block body %}
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="{{asset('images/banner1.jpg')}}" alt="New York" class="w-100">
			<div class="carousel-caption">
				<h3>MTM Tech</h3>
				<p>We will give you the best shopping experience at our shop</p>
			</div>
		</div>
	</div>
<div class="container text-center">	
	<div class="row">
		<div class="col-sm-4">
			<p class="text-center">
				<strong>Name</strong>
			</p><br>		
				<img src="{{asset('images/thanh.jpg')}}" class="rounded person" alt="Random Name" width="255" height="255">			

				<p class="fw-normal mt-4 mb-4">Do Trung Thanh</p>		
                <p>Co-founder</p>						
		</div>
		<div class="col-sm-4">
			<p class="text-center">
				<strong>Name</strong>
			</p><br>
			
				<img src="{{asset('images/manh.jpg')}}" class="rounded-circle" alt="Random Name" width="255" height="255">
			
			
				<p class="fw-normal mt-4 mb-4">Nguyen The Manh</p>
                <p>Founder</p>								
		</div>
		<div class="col-sm-4">
			<p class="text-center">
				<strong>Name</strong>
			</p><br>			
				<img src="{{asset('images/minh.png')}}" class="rounded-circle" alt="Random Name" width="255" height="255">			
		
				<p class="fw-normal mt-4 mb-4">Bui Nhat Minh</p>	
                <p>CEO</p>					

		</div>
	</div>
</div>	
{% endblock %}
