{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center mt-4">List of Manufacturer</h1>
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th class="text-center">Category</th>
				<th class="text-center">Image</th>
				<th class="text-center">Description</th>
			</tr>
		</thead>
		<tbody>
			{% for cat in categories %}
			<tr>
				<td>
					<div class="d-flex align-items-center">
						<img src="" style="width: 45px; height: 45px" class="rounded-circle"/>
						<div class="ms-3">
							<p class="fw-bold mb-1">{{ cat.name }}</p>
						</div>
					</div>
				</td>
				<td class="text-center">{{ cat.image }}</td>
				<td class="text-center">{{ cat.description }}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>

{% endblock %}
