{% extends "base.html.twig" %}

{% block body %}


	<section id="products" class="products">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="headline text-center mb-5">
						<h2 class="pb-3 position-relative d-inline-block">FEATURED PRODUCTS</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% for product in products %}
					<div class="col-sm-6 col-lg-4">
						<a href="#" class="d-block text-center mb-4">
							<div class="product-list">
								<div class="product-image position-relative">
									<span class="sale">Sale</span>
									<img src="#" alt="products" class="img-fluid product-image-first">
									<img src="#" alt="products" class="img-fluid product-image-secondary">
								</div>
								<div class="product-name pt-3">
									<h3 class="text-capitalize">Product name</h3>
									<p class="mb-0 amount">$400.00
										<del>$580.00</del>
									</p>
									<div class="py-1">
										<span class="ti-star"></span>
										<span class="ti-star"></span>
										<span class="ti-star"></span>
										<span class="ti-star"></span>
										<span class="ti-star"></span>
									</div>
									<button type="button" class="add_to_Card">ADD TO CARD</button>
								</div>
							</div>
						</a>
					</div>
				</div>

			{% endfor %}
			<!-- Scroll Backt To Top -->
			<div id="scrollUp" title="Scroll To Top">
				<a href="#home">
					<span class="ti-arrow-up fs-4 text-white"></span>
				</a>
			</div>
		{% endblock %}
