/* loginpage */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(170, 170, 176);
}

.row {
    background: white;
    border-radius: 30px;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 300px;
    width: 500px;
}

.btn1 {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;

}

/* index */
* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-danger: #f63440;
    --bg-white: #fff;
    --bg-light-white: #f5f5f5;
    --primary-font: "Poppins", sans-serif;
    --text-white: #fff;
    --text-black: #121212;
    --text-danger: #f63440;
    --text-gray: #aaa;
    --text-dark-gray: #777;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}


/* Products CSS */
.products {
    padding-top: 8.75rem;
}

.headline h2::before {
    content: '';
    width: 30%;
    height: 0.125rem;
    background-color: var(--bg-danger);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.625rem;
}

.products a {
    text-decoration: none;
    color: var(--text-black);
}

.product-list .product-image img {
    transition: all 500ms ease-in-out;
}

.product-list .product-image .product-image-secondary {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.product-list .product-image:hover .product-image-secondary {
    opacity: 1;
}

.product-list .product-image .sale {
    background: var(--bg-danger);
    border-radius: 0.313rem;
    color: var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left: 1rem;
    top: 1.188rem;
    z-index: 99;
}

.product-list .product-name h3 {
    font-size: 1.125rem;
    color: var(--text-black);
    transition: all 0.3s ease 0s;
}

.product-list .product-name h3:hover {
    color: var(--text-danger);
}

.product-list .product-name .amount {
    color: var(--text-danger);
    font-weight: 500;
}

.product-list .product-name .amount del {
    color: var(--text-gray);
}

.product-list .product-name .ti-star {
    color: var(--text-gray);
}

.product-list .product-name .ti-star.active {
    color: var(--text-danger);
}

.product-list .product-name .add_to_Card {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.product-list .product-name .add_to_Card:hover {
    color: var(--text-danger);
}

.products .up_to_off {
    position: relative;
}

.products .up_to_off::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}

.products .up_to_off img {
    transition: 0.5s;
}

.products .up_to_off:hover img {
    transform: scale(1.1);
}

.products .up_to_content h2 {
    color: var(--text-white);
    font-size: 1.625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

body {
    background-color: #000
}

.card {
    border: none
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: red;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 2px 9px;
    border: 2px solid #ff0000;
    display: inline-block;
    color: #ff0000;
    border-radius: 3px;
    text-transform: uppercase
}

label.radio input:checked+span {
    border-color: #ff0000;
    background-color: #ff0000;
    color: #fff
}

.btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
}

.btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important
}

.btn-danger:focus {
    box-shadow: none
}

.cart i {
    margin-right: 10px
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}