/* loginpage */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(170, 170, 176);
}

.row {
  background: white;
  border-radius: 30px;
}

.btn1 {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;

}
#imgl{
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
height: 300px;
width: 500px;
}